@using KosanCrisTrips.Web.Models.Authentication
@model User

@{
    Layout = null;

    var emailId = Model != null ? Model.EmailId : string.Empty;
    var userId = Model != null ? Model.UserId.ToString() : string.Empty;

    string disableControls = string.Empty;
    if (ViewBag.DisplayOtpControl)
    {
        disableControls = "disabled='disabled'";
        //@Model = (User)ViewBag.AuthenticatedUser;
    }
}

@*<fieldset  class="col-sm-12">
        <legend class="scheduler-border"> Enter User Credentials</legend>
        <div class="col-sm-6">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {

                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.EmailId, "User Name")
                        @Html.TextBoxFor(x => x.EmailId)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(x => x.Password, "Password")
                        @Html.PasswordFor(x => x.Password)
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <input type="submit" value="Log In">
                </div>
            }
            <a href=""> Forgot password? </a>
        </div>
    </fieldset>*@

<br />
<br />

@*<form action="Index" method="post"></form>*@

<div class="log-form">
    <h2>Login to your account</h2>
    @using (Ajax.BeginForm("Index", "Login", new AjaxOptions() { HttpMethod = "Post" }))
    {

        <input type="text" title="username" placeholder="username" name="UserName" @disableControls />
        <input type="password" title="password" placeholder="password" name="Password" @disableControls />
        if (!ViewBag.DisplayOtpControl)
        {
            <button type="submit" class="btn"> Login</button>
            <a class="forgot" href="#">Forgot Password?</a>
            @Html.ActionLink("Forgot Password?","ForgotPassword","Login")
        }
    }
    @if (ViewBag.DisplayOtpControl)
    {
        using (Ajax.BeginForm("ValidateOneTimePassword", "Login", new AjaxOptions() { HttpMethod = "Post" }))
        {
            ViewBag.IsOtpRequested = true;
            //Html.RenderPartial("OneTimePasswordView");
            <div>
                <br />
                <input type="text" title="onetimepassword" placeholder="One Time Password" name="OneTimePassword" />
                @*<input type="hidden" name="EmailId" />
                <input type="hidden" name="UserId" />*@
                @Html.HiddenFor(m => m.EmailId)
                @Html.HiddenFor(m => m.UserId)
                <button type="submit" class="btn col-sm-3"> Submit OTP</button>
                @*<a class="btn col-sm-3" href="/Login/ValidateOneTimePassword">Submit OTP</a>*@
                @*@Ajax.ActionLink("Submit OTP", "ValidateOneTimePassword", "Login", new AjaxOptions { HttpMethod = "Post" }, new { @class = "btn col-sm-3" })*@
                <a id="btnResendOtp" class="btn col-sm-3 pull-right" data-user-id= @userId> Resend OTP</a>
            </div>
        }
    }
</div><!--end log form -->


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet/less" href="~/Content/Custom/login-form.less" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/less.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="~/Scripts/Custom/Login/ResendOtp.js"></script>

